<.page_heading page_title={@page_title} />

<.info_box
  heading="All your projects are listed here."
  body="Any project can be added to one or more profiles."
/>

<p class="mt-5 italic opacity-60">No projects yet.</p>

<.link navigate={~p"/projects/new"}>
  <.button class="mt-5">
    <.icon name="hero-plus-mini" /> Add a project
  </.button>
</.link>
