<h1>Projects</h1>
No projects yet.

<.link
  navigate={~p"/projects/new"}
  class="py-3 px-4 inline-flex items-center gap-x-2 font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none my-5"
>
  + Add a project
</.link>
