<.page_heading page_title={@page_title} />

<.info_box
  heading="All your job experience data are listed here."
  body="Any job experience can be added to one or more profiles."
/>

<p :if={length(@jobs) == 0} class="mt-5 italic opacity-60">No job experience yet.</p>

<section>
  <div :for={j <- @jobs}>
    <p><%= j.title %></p>
  </div>
</section>

<.link navigate={~p"/jobs/new"}>
  <.button class="mt-5">
    <.icon name="hero-plus-mini" /> Add Job Experience
  </.button>
</.link>
