<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Skillstackr">
      <%= assigns[:page_title] || "Build a cool portfolio" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-slate-100 antialiased dark:bg-slate-950/90 dark:text-zinc-100 font-body pt-[68px]">
    <header class="fixed top-0 w-full flex items-center justify-between px-8 py-4 bg-white/70 dark:bg-slate-950/70 shadow z-10 text-zinc-800 dark:text-zinc-200 font-medium text-sm backdrop-blur-lg">
      <section class="flex gap-x-8 items-center">
        <.link navigate={~p"/"}>
          <p class="font-cairo font-bold text-3xl text-primary">Skillstackr</p>
        </.link>
        <%= if @current_account do %>
          <ul class="flex items-center gap-4 justify-end">
            <li>
              <.link class="hover:text-zinc-700 dark:hover:text-zinc-300" navigate={~p"/profiles"}>
                Profiles
              </.link>
            </li>
            <li>
              <.link class="hover:text-zinc-700 dark:hover:text-zinc-300" navigate={~p"/projects"}>
                Projects
              </.link>
            </li>
            <li>
              <.link class="hover:text-zinc-700 dark:hover:text-zinc-300" navigate={~p"/jobs"}>
                Job Experience
              </.link>
            </li>
          </ul>
        <% end %>
      </section>
      <section>
        <ul class="flex items-center gap-4 justify-end">
          <%= if @current_account do %>
            <li class="leading-6 opacity-60">
              <%= @current_account.email %>
            </li>
            <li>
              <.link
                href={~p"/accounts/settings"}
                class="hover:text-zinc-700 dark:hover:text-zinc-300"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/accounts/log_out"}
                method="delete"
                class="hover:text-zinc-700 dark:hover:text-zinc-300"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                navigate={~p"/accounts/register"}
                class="hover:text-zinc-700 dark:hover:text-zinc-300"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                navigate={~p"/accounts/log_in"}
                class="hover:text-zinc-700 dark:hover:text-zinc-300"
              >
                Log in
              </.link>
            </li>
          <% end %>
          <.theme_switcher />
        </ul>
      </section>
    </header>
    <main class="container mx-auto max-w-5xl py-12 px-5">
      <%= @inner_content %>
    </main>
  </body>
</html>
