<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Skillstackr">
      <%= @page_title %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-slate-100 antialiased dark:bg-zinc-900 dark:text-white">
    <header class="fixed top-0 w-full flex items-center justify-between px-5 py-4 bg-slate-50 dark:bg-zinc-950 shadow z-10">
      <a href={~p"/"}>
        <p class="font-bold">Skillstackr</p>
      </a>
      <section class="text-sm font-medium">
        <ul class="flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
        <.theme_switcher />
          <%= if @current_account do %>
            <li class="leading-6 text-zinc-900">
              <%= @current_account.email %>
            </li>
            <li>
              <.link
                href={~p"/accounts/settings"}
                class="leading-6 text-zinc-900 hover:text-zinc-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/accounts/log_out"}
                method="delete"
                class="leading-6 text-zinc-900 hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/accounts/register"}
                class="leading-6 text-zinc-900 hover:text-zinc-700"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/accounts/log_in"}
                class="leading-6 text-zinc-900 hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </section>
    </header>
    <main class="container mx-auto max-w-5xl px-5 pt-16">
      <%= @inner_content %>
    </main>
  </body>
</html>
